@font-face {
  font-family: 'Univers';
  src: url('../font/univers-normal.woff');
}
@font-face {
  font-family: 'Univers-bold';
  src: url('../font/univers-bold.woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Univers';
}
*:focus {
  outline: none;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.form {
  border-radius: 5px;
  box-shadow: 0px 0px 6px 1px #0000008a;
  padding: 50px 0px;
  width: 100%;

  &__group {
    display: block;
    text-align: center;
    position: relative;
    padding: 0 50px;

    label {
      color: #007bff;
      font-weight: 600;
      display: block;
      text-align: left;
      margin-bottom: 5px;
      width: 100%;
    }

    &.has-error {
      input {
        border-color: red;
      }
      .form__group-error {
        display: none;
      }
    }

    input {
      border: 1px solid #bbb;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      padding: 15px 0;
      width: 100%;
      text-indent: 12px;
      margin-bottom: 20px;
    }

    button {
      &.btn__eye {
        position: absolute;
        top: 38px;
        right: 59px;
        z-index: 2;
      }
      &.btn {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 28px;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 60px;        
      }
    }
  }
}