.dashboard {
  min-height: 600px;

  li {
    display: flex;
    width: 100%;
    padding: 10px 0;

    &:nth-child(2n+2) {
      background: #efefef;
    }
  
    span {
      padding: 10px;
      min-width: 18%;
      text-align: left;

      &.action {
        position: relative;
        min-width: 2%;
        padding: 10px 0;

        &:before {
          cursor: pointer;
          content: '...';
          letter-spacing: 3px;
          transform: rotate(-90deg);
          position: absolute;
          right: 10px;       
        }
        &:hover {
          .action__icons {
            display: block;
          }
        }
      }

      .action__icons {
        background: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        display: none;
        position: absolute;
        z-index: 3;        
        padding: 10px;
        min-width: 120px;

        .btn {
          display: flex;
        }
      }
    }
  }
}