section {
  .container {
    display: flex;

    > div {
      width: 50%;

      &.search {
        input {
          width: 50%;
        }
      }

      &.btn {
        &__link {
          text-align: right;

          a {
            border: 1px solid #2a974a;
            border-radius: 10px;
            color: #2a974a;
            cursor: pointer;
            padding: 15px 40px;
            margin: 0 auto;
            width: 100%;
            max-width: 30%;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            float: right;

            &:hover {
              background-color: #2a974a;
              color: #fff;
            }
          }
        }
      }
    }
  }
}